<!DOCTYPE html>
<html lang="en">
    {{!-- HEADER --}}
    {{>head}}
<body style="margin: 0; padding: 0;box-sizing: border-box;">
    {{!-- NAVBAR --}}
    {{>navbar}}
    {{!-- BODY --}}
    {{{body}}}
    
    {{!-- FOOTER --}}
    {{>footer}}
</body>
</html>