<div class="d-flex align-items-center py-4 bg-body-tertiary">
 <div class="form-signin w-25 m-auto">
    <form action="/register" method="post">
    <img class="mb-4" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      {{#if registerError}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Error!</strong> {{registerError}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {{/if}}
    <div class="form-floating mb-1">
      <input name="firstName" type="text" class="form-control" id="floatingInput" placeholder="First Name">
      <label for="floatingInput">First name</label>
    </div>
    <div class="form-floating mb-1">
      <input name="email" type="email" class="form-control" id="floatingInput" placeholder="Password">
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating mb-1">
      <input name="password" type="password" class="form-control" id="floatingInput" placeholder="Password">
      <label for="floatingInput">Password</label>
    </div>
    {{!-- <div class="form-floating mb-1">
      <input name="RePassword" type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Confrim Password</label>
    </div> --}}

    <div class="form-check text-start my-3">
      <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Remember me
      </label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
  </form>
 </div>
</div>
